$color_white: white;
$background-color_white: white;

$color_black: black;
$background-color_black: black;

$color_yellow_2: #FFDE2E;
$color_background_yellow_2: #FFDE2E;

$color_yellow: #FCD107;
$color_background_yellow: #FCD107;

$color_red: red;
$background-color_red: red;

$color_black_2:#17344a;
$color_background_black_2:#17344a;

$color_3: #ff523b;
$color_gray: #555;

$border-color_black: black;


$color_form-border: #8F9992;

$color_blue: blue;




//fonts
$font-family-bi: 'Bootstrap-icons';
$font-family_primary: 'DM Sans', sans-serif;