@import 'color';

.aboutUsPage{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    padding: 0 15px;

    .contents{
        display: grid;
        grid-template-columns: 47% 47%;
        gap: 6%;
        margin-bottom: 150px;
        .content1{
            .about-us-title{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title{
                    font-size: 28px;
                    color: $color_yellow;
                    margin-top: 55px;
                }
                .large-title{
                    float: inline-end;
                    font-size: 45px;
                    // margin-top: 75px;
                }
            }
        }

        .content2{
            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
                border-radius: 25px;
                // margin-bottom: 25px;
            }
        }
        .experiences{
            display: grid;
            grid-template-columns: 49% 49%;
            gap: 2%;
            justify-content: center;
            align-items: center;

            .exp{
                height: 100px;
                text-align: center;

                .achive{
                    font-size: 28px;
                    font-weight: 600;
                    span{
                        font-size: 24px;
                        vertical-align: super;
                        font-weight: 500;
                    }
                }
            }
        }

    }

    .partners{
        max-width: 1000px;
        width: 100%;
        margin:auto;
        margin-bottom: 80px;
        overflow: hidden;
        .title{
            text-align: center;
            margin-bottom: 45px;
        }
        .members{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            .member-card{
                cursor: pointer;
                max-width: 200px;
                border-radius: 25px;
                text-align: center;
                // border: 1px solid black;
                padding: 12px 0 40px;
                position: relative;
                img{
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .member-name{
                    font-size: 20px;
                    font-weight: 300;
                    margin: 6px 0;
                }
                .role{
                    font-size: 16px;
                    font-weight: 600;
                    color: $color_yellow;
                }
                .social{
                    width: 100%;
                    position: absolute;
                    bottom: -20%;
                    opacity: 0;
                    right: 50%;
                    transform: translate(50%, -18%);
                    transition: all 0.4s ease;
                    .bi{
                        font-size: 20px;
                        margin: 0 8px;
                        transition: all .3s ease;

                        &:hover{
                            color:$color_yellow
                        }
                    }
                }

                &:hover .social{
                    bottom:-1%;
                    opacity: 1;
                }
            }
        }
    }
}