@import "_color";

@import "https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_primary;
	scroll-behavior: smooth;
}
*::selection {
	color: white;
	background: $color_yellow_2;
}
.centerContainer {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
}
.hidden{
	display: none !important;
}
.title {
	font-size: 30px;
	font-weight: 700;
}
.p-content {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}
a {
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	text-decoration: none;
}
.carouselContainer {
	max-width: 1440px;
	width: 100%;
	margin: auto auto;
	padding: 0 15px;
}
.margin-bottom-100px{
	margin-bottom: 100px;
}

//swiper js custom style
.swiper{
	&:hover .swiper-button-prev{
		left:  var(--swiper-navigation-sides-offset, 10px);
		opacity: 1;
	}
	&:hover .swiper-button-next{
		opacity: 1;
		right:  var(--swiper-navigation-sides-offset, 10px);
	}
}

.swiper-button-prev{
	color: $color_black_2;
    border-radius: 50%;
    padding: 25px;
    background: $color_yellow_2;
	opacity: 0;
	left:  var(--swiper-navigation-sides-offset, -10px);
	transition: all .3s ease;
	&::after{
		font-size: 24px;
	}
}
.swiper-button-next{
	color: $color_black_2;
    border-radius: 50%;
    padding: 25px;
    background: $color_yellow_2;
	opacity: 0;
	right:  var(--swiper-navigation-sides-offset, -10px);
	transition: all .3s ease;
	&::after{
		font-size: 24px;
	}
}



.card {
	width: 100%;
	height: auto;
	border-radius: 0 5px;
	.image {
		position: relative;
		overflow: hidden;
		&:hover {
			.pop-ups-icons {
				bottom: 30px;
			}
		}
	}
	img {
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}
	.card-text {
		margin-left: 15px;
		.product-title {
			font-size: 18px;
			margin: 0;
			font-weight: 700;
			padding: 5px 0;
		}
		.product-price {
			font-size: 16px;
			margin: 0;
			font-weight: 500;
			opacity: .8;
		}
	}

	p{
		color: black;
	}
}

.pop-ups-icons {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -40px;
	width: 100%;
	transition: all .5s ease;
	a {
		color: $color_black;
	}
	.icons {
		position: relative;
		width: 100%;
		white-space: nowrap;
		.showOnHover {
			font-size: 12px;
			font-weight: 300;
			position: absolute;
			bottom: 40px;
			padding: 1px 8px;
			opacity: 0;
		}
	}
	.bi {
		font-size: 25px;
		font-weight: 400;
		padding: 8px 12px;
		margin: 8px;
		border: 1px solid white;
		background-color: $background-color_white;
		border-radius: 50%;
		transition: all .3s ease;
		&:hover {
			border: 1px solid $color_yellow;
			background-color: $color_background_yellow;
			color: $color_black_2;
			.showOnHover {
				opacity: 1;
			}
		}
	}
}
.uspCards {
	display: flex;
	justify-content: space-between;
	.uspCard {
		max-width: 200px;
		padding: 0 10px;
		img {
			width: 100%;
		}
	}
}

.blogCards {
	display: flex;
	justify-content: space-between;
	.blogCard {
		max-width: 450px;
		padding: 0 10px;
		aspect-ratio: 4/3;
		.blogCard-Image{
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				transition: scale .5s ease;
				overflow: hidden;
			}
			&:hover img{
				scale: 1.2;
			}
		}
		.card-text{
			margin-top: 8px;
		}
	}
}

.testimonialCard {
	width: 70%;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	.rating {
		margin-bottom: 15px;
		.star {
			color: $color_black_2;
			padding: 0 3px;
		}
	}
	.message {
		text-align: center;
		margin-bottom: 25px;
	}
	.messenger {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		.image {
			width: 100px;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			pointer-events: none;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
		.name {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 5px;
			margin-top: 0;
		}
		.role {
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}


.enquire-box {
	margin-bottom: 130px;
	background-color: $color_yellow;
	display: grid;
	grid-template-columns: 45% 50%;
	gap: 3%;
	border-radius: 0 55px 0 55px;
	overflow: hidden;
	.title {
		margin-bottom: 40px;
		color:$color_black_2;
	}
	.enquire-img {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.input-box{
		input,select{
			border-bottom: 1px solid black !important;
		}
		label{
			color: $color_black_2 !important;
		}
		textarea::placeholder{
			color: $color_black_2  !important;
		}

	}
}
.enquire-btn{
	text-decoration: none;
	background-color: #17344a;
	font-size: 12px;
	color: white;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	transition: all .4s ease;
	text-align: center;
	width: auto;
	&:hover {
		border-radius: 25px;
	}
}

//this style used in different pages
.theForm {
	overflow: hidden;
	padding: 40px 25px;
	.input-box {
		position: relative;
		input {
			width: 80%;
			padding: 10px 18px;
			font-size: 16px;
			color: $color_black;
			margin-bottom: 30px;
			border: none;
			border-bottom: 1px solid #8F9992;
			outline: none;
			background: transparent;
			&:focus {
				~ {
					label {
						top: -8px;
						left: 16px;
						color: $color_black;
						font-size: 12px;
						background-color: inherit;
					}
				}
				border-color: $color_black;
			}
			&:valid {
				~ {
					label {
						top: -8px;
						left: 16px;
						color: $color_black;
						font-size: 12px;
						background-color: inherit;
					}
				}
				border-color: $color_black;
			}
		}
		label {
			position: absolute;
			top: 10px;
			padding: 0 5px;
			left: 16px;
			font-size: 15px;
			color: $color_form-border;
			pointer-events: none;
			transition: .5s;
		}
		textarea {
			width: 80%;
			padding: 10px 18px;
			font-size: 18px;
			color: $color_black;
			margin-bottom: 30px;
			border: none;
			border-bottom: 1px solid #8F9992;
			outline: none;
			background: transparent;
			&:focus {
				border-color: $color_black;
			}
			&:valid {
				border-color: $color_black;
			}
		}
		select{
			border: none;
			padding: 8px 18px;
			background-color: inherit;
			border-bottom: 1px solid #8F9992;	
			margin-bottom: 30px;
		}
	}

	.input-box-divide{
		display: grid;
		grid-template-columns: 49% 49%;
		gap: 2%;
	}
}

.validate-message {
	float: right;
	margin-top: 25px;
}
.registration {
	max-width: 700px;
	width: 100%;
	margin: 10px auto;
	.title {
		margin-bottom: 35px;
		text-align: center;
	}
	.input-box {
		input {
			width: 100%;
		}
	}
	.others {
		margin-top: 0;
		margin-bottom: 15px;
		a {
			color: $color_blue;
			&:hover {
				text-decoration: underline;
			}
		}
		input {
			padding: 25px;
			vertical-align: middle;
			width: 20px;
		}
	}
}
.otherStuff {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// padding: 0 15px;

	.errors{
		display: flex;
    	flex-direction: column;
	}
}
